<header class="top">
  <p class="logo">ロゴ</p>
  <ul class="menu">
    <li class="home"><a href="/">TOP</a></li>
  </ul>
</header>

<section>
  <div class="new" id="new">
    <h2 class="acount">アカウントを作成</h2>

    <%= form_for(@user) do |f| %>
      <%= f.text_field :name, id: "name", placeholder: "お名前"%>

      <%= f.email_field :email, id: "email", placeholder: "メールアドレス" %>

      <%= f.password_field :password , id: "password", placeholder: "パスワード" %>
      <%= f.submit "新規登録", id: "submit_button" %>

    <% end %><br>
    <small>アカウントをお持ちですか？  <a href="/login">ログイン</a></small>
  </div>
</section>

<footer>
  <small>Made by <a href="https://rakam.co">Rakam Inc</a></small><br>
  <small>&copy;Rakam Inc All rights Reserved.</small>
</footer>
